extends layout

block content
  
  form#new-thing
    #nameBox
      p Employee First Name
      input#search-term(type="text")
      input.btn.color-1(type="submit", name="submit", value="Search")

  #results
