@import '_settings'

normalize-css()
base()

body
  font-family: 'Montserrat', sans-serif
  background: #f89c48

#button
 background-color: blue

#search-term
  size: 200px 50px

#results
  text-align: center

.person
  background-color: #8cc63f
  border-radius: 6em
  width: 30%
  text-align: center
  padding: 1% 0 1% 0
  margin: 0 auto 10px auto

.btn
  display: inline-block
  padding: 10px 20px
  border: 2px solid #8fdd38
  background-color: #8cc63f
  text-decoration: none
  margin: 0px 10px 10px 0
  transition: all .6s ease
  min-width: 100px
  text-align: center
  font-size: 25px

  &:hover
    background: #f89c48
    color: #8fdd38

#new-thing
  white-space: nowrap
